
.sidebar,
.admin-header,
.view-header {
    display: none !important;
}


body, .admin-layout-wrapper, .main-wrapper, .main-content {
    display: block; 
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: none;
    background-color: #fff !important; 
    overflow: visible; 
    height: auto;
}

.view-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}

.data-card legend, .data-section-title, .data-item span, .data-item label, h2, body {
    color: #000 !important;
    background-color: #fff !important;
}

.data-card {
    border: 1px solid #ccc;
    page-break-inside: avoid; 
    margin-bottom: 1.5rem;
}

.data-card-body {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 1rem;
}

.data-item span {
    background-color: #f9f9f9 !important; 
    border: 1px solid #eee;
}

.signature-img {
    max-width: 200px !important; 
}